<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index da Aplicação com mongo do raryson</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
  </head>
  <body>
    <h1>ToDo List do Raryson</h1>

      <label for="nome">Nome:</label><textarea name="nome" rows="1" id='nome' cols="80"></textarea>
      <label for="idade">Idade:</label><textarea name="idade" id='idade' rows="1" cols="80"></textarea>
      <button id="registrar">Cadastrar</button>


    <h3>Lista</h3>
    <ul>
      <% listao.forEach(function(item) { %>
          <li>Id: <%= item._id %> -  Nome: <%= item.nome %> - Idade: <%= item.idade %> <button  id="remover" onclick ="envioDoRemover('<%= item._id %>')">Remover</button></li>
      <% }); %>
    </ul>

    <script>
        var botaoRegistrar = document.querySelector('#registrar');
        botaoRegistrar.addEventListener('click',function(){
           nome  = document.querySelector('#nome').value;
           idade = document.querySelector('#idade').value;

            function envioDoRegistro(nome, idade){
             $.post('/adicionar',{nome:nome, idade:idade})
              .done((retorno) => $("li:last").after('<li>Id: '+retorno.id + ' - Nome: ' +retorno.nome+ ' - Idade: '+ retorno.idade + '  <button  id="remover" onclick =envioDoRemover("'+retorno.id+'")>Remover</button></li>'))
              .fail((error) => alert(error))}

              envioDoRegistro(nome, idade);
              $('#nome').val('')
              $('#idade').val('')
        })


        function envioDoRemover(id){
          var id = id;
          $.post('/remover',{id:id})
           .done((retorno) => $('li:contains("'+id+'")').hide())
           .fail((error) => alert(error))}

    </script>
  </body>
</html>
