<!DOCTYPE html>
<html>
  <% include partials/head %>
  <body>

    <div class="container">
    <h1>To Do List do Raryson</h1>
      <h3>O que tu quer lembrar?</h3><textarea id='registro' placeholder="Se tu apertar enter vai inserir de forma automática"></textarea>
      <button id="registrar">Vai</button>
    <h4>Lista</h4>
    <ul>
      <% listao.forEach(function(item) {  %>
          <li class="li-lista" id=<%= item._id  %>>O que tu queria lembrar: <%= item.elementoAserCadastrado %><button  id="remover" onclick ="envioDoRemover('<%= item._id %>')">Remover</button></li>
      <% }); %>
    </ul>

    </div>
    <script>
        $(document).keypress(function(e) {
            if(e.which == 13) $('#registrar').click();
        });

        var botaoRegistrar = document.querySelector('#registrar');
        botaoRegistrar.addEventListener('click',function(){
           valueElementoASerCadastrado  = document.querySelector('#registro').value;
            function envioDoRegistro(valueElementoASerCadastrado){
             $.post('/adicionar',{elementoAserCadastrado:valueElementoASerCadastrado})
              .done((retorno) => $('<li class="li-lista" id='+retorno.id+'>O que tu queria lembrar: ' +retorno.elementoAserCadastrado+ '<button  id="remover" onclick =envioDoRemover("'+retorno.id+'")>Remover</button></li>').insertAfter("li:last"))
              .fail((error) => alert(error))}

              envioDoRegistro(valueElementoASerCadastrado);
              $('#registro').val('')

        })
        function envioDoRemover(id){
          var id = id;
          $.post('/remover',{id:id})
           .done((retorno) => $('#'+id).hide())
           .fail((error) => alert(error))}

    </script>
  </body>
</html>
