button{
  margin-left: 10px;
}
#registrar{
  display:none;
}
h3{

}
li{
  margin-top: 10px;
}
textarea{
  height: 150px;
  width: 750px;
  display: block;
  margin-bottom: 10px;
}
#esconderID{
  display: none;
}
