button{
  margin-left: 10px;
}

h3{

}
.li-lista{
  margin-top: 10px;
}
textarea{
  height: 150px;
  width: 750px;
  display: block;
  margin-bottom: 10px;
}
#esconderID{
  display: none;
}
.menu{
  position: fixed;
  background-color: white;
  padding: 10px;
  width: 100%;
  background-color: gray;
}

.li-menu{
  margin-right: 30px;
}
#headInicial{
  padding-top: 50px;
}
.dropdown ul{
  left: 10px;
  margin-top: 5px;
}
.dropdown-menu li{
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;

}




.center{
  text-align: center;
}

.dropdown-menu li button{
  margin: 5px;
}
